@model AuthUsingIdentity.Models.ResultMake

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="bg-danger">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table class="table table-bordered">
        <tr class="bg-primary">
            <th> @Html.DisplayNameFor(model => model.CourseDtl.CrsName)</th>
            <th> @Html.DisplayNameFor(model => model.ModuleDtl.MdlName)</th>
            <th>@Html.DisplayNameFor(model => model.StudentInformation.StName)</th>
            <th>@Html.DisplayNameFor(model => model.MdlMarks)</th>
            <th>  @Html.DisplayNameFor(model => model.MdlPoint)</th>
            <th> @Html.DisplayNameFor(model => model.MdlGrade)</th>
            <th>@Html.DisplayNameFor(model => model.ResultDate)</th>
            <th>@Html.DisplayNameFor(model => model.Remarks)</th>
        </tr>
        <tr>
            <td> @Html.DisplayFor(model => model.CourseDtl.CrsName)</td>
            <td> @Html.DisplayFor(model => model.ModuleDtl.MdlName)</td>
            <td> @Html.DisplayFor(model => model.StudentInformation.StName)</td>
            <td>@Html.DisplayFor(model => model.MdlMarks)</td>
            <td> @Html.DisplayFor(model => model.MdlPoint)</td>
            <td> @Html.DisplayFor(model => model.MdlGrade)</td>
            <td>@Html.DisplayFor(model => model.ResultDate)</td>
            <td>@Html.DisplayFor(model => model.Remarks)</td>
        </tr>
    </table>
</div>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
