@model IEnumerable<AuthUsingIdentity.Models.Teacher>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-warning">Teacher Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed">
    <tr class="bg-primary">
        <th>Teacher Id</th>
        <th>
            @Html.DisplayNameFor(model => model.TchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TchPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TchEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TchAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>*@
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.TeacherId)</td>
        <td>
            @Html.DisplayFor(modelItem => item.TchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TchPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TchEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TchAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherId })
        </td>
    </tr>
}

</table>
