@model IEnumerable<AuthUsingIdentity.Models.Shift>

@{
    ViewBag.Title = "Shift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">Shift Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed">
    <tr class="bg-primary">
        <th>@Html.DisplayNameFor(model=>model.ShiftId)</th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftName)
        </th>
        <th>
            Shedule
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem=>item.ShiftId)</td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShiftId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShiftId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShiftId })
        </td>
    </tr>
}

</table>
